<img id="profile-img" class="profile-img-card" src="http://qualittas.com.br/assets/img/logo.png" />


<div class="alert alert-danger" ng-show="error.error">
    <strong>Whoops!</strong> Ocorreram erros.<br><br>
    <div>{{ error.message }}</div>
</div>


<form class="form-horizontal" name="form" role="form" method="POST" ng-submit="login()">
    <div class="form-group" ng-class="{'has-error': !form.username.$valid && form.username.$touched}">
        <label class="col-md-4 control-label">E-mail</label>

        <div class="col-md-6">
            <input type="text" class="form-control" name="username" ng-model="user.username" placeholder="Informe seu e-mail de acesso" required>
            <div ng-messages="form.username.$error" class="help-block" ng-show="form.username.$touched">
                <div ng-message="required">Campo obrigatório</div>
            </div>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': !form.password.$valid && form.password.$touched}">
        <label class="col-md-4 control-label">Password</label>

        <div class="col-md-6">
            <input type="password" class="form-control" name="password" ng-model="user.password" placeholder="Informe seu password" required>
            <div ng-messages="form.password.$error" class="help-block" ng-show="form.password.$touched">
                <div ng-message="required">Campo obrigatório</div>
            </div>
        </div>
    </div>
<button ng-click="" ng-if="user.username"><</button>
    <div class="form-group" ng-if="'user.username' || 'user.password'">
        <div class="col-md-6 col-md-offset-4">
            <button class="btn btn-lg btn-success btn-block btn-signin" type="submit">Logar</button>
        </div>
    </div>
</form>


<!-- original
<div class="alert alert-danger" ng-show="error.error">
    <strong>Whoops!</strong> Ocorreram erros.<br><br>
    <div>{{ error.message }}</div>
</div>


<form class="form-horizontal" name="form" role="form" method="POST" ng-submit="login()">
    <div class="form-group" ng-class="{'has-error': !form.username.$valid && form.username.$touched}">
        <label class="col-md-4 control-label">E-mail Address</label>

        <div class="col-md-6">
            <input type="text" class="form-control" name="username" ng-model="user.username" required>
            <div ng-messages="form.username.$error" class="help-block" ng-show="form.username.$touched">
                <div ng-message="required">Campo obrigatório</div>
            </div>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': !form.password.$valid && form.password.$touched}">
        <label class="col-md-4 control-label">Password</label>

        <div class="col-md-6">
            <input type="password" class="form-control" name="password" ng-model="user.password" required>
            <div ng-messages="form.password.$error" class="help-block" ng-show="form.password.$touched">
                <div ng-message="required">Campo obrigatório</div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6 col-md-offset-4">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </div>
</form>
-->